/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  /* width: 100px; */
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  New code here for mobile ------- */
#menu{
  display: flex;
  /* border: 1px solid black; */
  /* flex-direction: row; */
  justify-content: center;
  padding-bottom: 10px;
}

form div {
  display: flex;
  justify-content: space-between;
}

img{
  width: 100%;
}

/* ------- Media query for smaller than 400px */
@media all and (max-width: 400px){
  .logo{
    font-size: 54px;
  }
}
/* -------  Media Query Desktop (768px and up) ------- */

@media all and (min-width: 768px){
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form div {
    flex-direction: column;
    /* border: 1px solid black; */
    width: 15%;
  }

  form button {
    width: 20%;
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form input, form select {
    width: 100%;
  }

  #about div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  #about img{
    width: 25%;
  }

  .row{
    display: flex;
    gap: 10px;
  }

  .row div{
    flex: 1;
    /* width: 50%; */
  }

  #host{
    display: flex;
    gap: 10px;
    align-items: center;
  }

  #host div{
    flex: 1;
  }


}